{% extends 'base.html.twig' %}

{% block title %}Hello TwitterController!{% endblock %}

{% block body %}
<section>
        <div class="container">
            <div class="left">
                <div class="subbox"><a href="#"><i class="fa-solid fa-magnifying-glass"></i>&emsp;<span>Follow your
                            intrests.</span></a></div>
                <div class="subbox"><a href="#"><i class="fa-solid fa-user-group"></i>&emsp;<span>hear what people are
                            talking about.</span></a></div>
                <div class="subbox"><a href="#"><i class="fa-regular fa-comment"></i>&emsp;<span>Join the
                            conversation.</span></a></div>
            </div>
            <div class="right">
                <div class="formbox">
                    <div class="topbox">
                        <div class="topBox">
                            <i class="fa-brands fa-twitter twitterimg"></i>
                        </div>
                        <div class="topBox">
                            <a href="{{ path('app_login')}}" class="topbutton">Log in</a>
                        </div>
                    </div>
                    <p class="topcontent">See what's happening in the world right now</p>
                    <small class="joinTwitter">Join Twitter today.</small>
                    <div class="buttonbox">
                        <div class="buttonbox1">
                            <a href="{{ path('app_register')}}" class="buttonsign">Sign Up</a>
                        </div>
                        <div class="buttonbox1">
                            <a href="{{ path('app_login')}}" class="buttonlog">Log in</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
